{% extends "base.html" %}

{% block content %}
    <h1>Movies being shown at the cinema</h1>
    <div class="gallery">
        {% for row in rows %}
            <div class="row">
                {% for movie in row %}
                <a href="{{ url_for('movie', movie_id=movie['id']) }}">
                    <div class="image-container">
                        <img src="{{ movie['poster_link'] }}" alt="Image">
                        <p>{{movie['title'] }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
